<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
 
 	<bean id="motriceConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!--  at first look at default config file, if it exist -->
				<value>file:/usr/local/etc/motrice/motrice.properties</value>
				<!--  override with properties in MOTRICE_CONF, if it exist -->
				<value>file:${MOTRICE_CONF}</value>
				<!--  override with properties in MOTRICE_HOME/conf/motrice.properties, if it exist  -->
				<value>file:${MOTRICE_HOME}/conf/motrice.properties</value>
			</list>
		</property>
	</bean>

	<bean id="engine" class="org.inheritsource.taskform.engine.TaskFormService"
		scope="singleton">
		<property name="activitiEngineService" ref="activitiEngineService" />
	</bean>

	<bean id="activitiEngineService"
		class="org.inheritsource.service.processengine.ActivitiEngineService"
		scope="singleton">
		<property name="engine" ref="processEngine" />
	</bean>

	<bean id="processEngineConfiguration"
		class="org.activiti.engine.impl.cfg.StandaloneProcessEngineConfiguration">

		<property name="jdbcUrl" value="${dataSource.url}" />
		<property name="jdbcDriver" value="${dataSource.driverClassName}" />
		<property name="jdbcUsername" value="${dataSource.username}" />
		<property name="jdbcPassword" value="${dataSource.password}" />

		<property name="databaseSchemaUpdate" value="true" />

		<property name="jobExecutorActivate" value="true" />

		<property name="mailServerHost" value="${mail.smtp.host}" />
		<property name="mailServerPort" value="${mail.smtp.port}" />

		<property name="beans">
			<map>
				<entry key="motriceEngine" value-ref="engine" />
			</map>
		</property>
	</bean>

	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
 
 <!-- Jersey based rest server -->
	<context:component-scan base-package="org.inheritsource.service.rest.server.services" />
 
 <!-- Restlet based rest server -->
 
 <bean id="motriceRestletComponent" class="org.restlet.ext.spring.SpringComponent">
    <property name="defaultTarget" ref="motriceRestletAppliction" />
  </bean>

  <bean id="motriceRestletAppliction" class="org.inheritsource.service.rest.server.InheritServiceApplication">
    <property name="root" ref="router" />
  </bean>

  <!--  Define the router -->
  <bean name="router" class="org.restlet.ext.spring.SpringBeanRouter" />
  
  <!-- Define all the routes in RESTlet-->
  
  <bean name="/getDashOpenActivitiesByUserId/{userid}/{remainingDays}" class="org.inheritsource.service.rest.server.DashOpenActivitiesByUserId" scope="singleton" autowire="byName" />
  <bean name="/processInstanceDetailsByActivityInstanceUuid/{activityInstanceUuid}" class="org.inheritsource.service.rest.server.ProcessInstanceDetailByActivityInstanceUuid" scope="singleton" autowire="byName" /> 
  <bean name="/processInstanceDetailsByUuid/{processInstanceUuid}" class="org.inheritsource.service.rest.server.ProcessInstanceDetailByUuid" scope="singleton" autowire="byName" /> 
  
  <!-- TODO take user from login instead of parameter userid -->
  <bean name="/addComment/{activityInstanceUuid}/{comment}/{userid}" class="org.inheritsource.service.rest.server.AddComment" scope="singleton" autowire="byName" /> 
  <bean name="/getCommentFeed/{activityInstanceUuid}/{userid}" class="org.inheritsource.service.rest.server.GetCommentFeed" scope="singleton" autowire="byName" /> 
  <bean name="/assignTask/{activityInstanceUuid}/{action}/{userid}" class="org.inheritsource.service.rest.server.AssignTask" scope="singleton" autowire="byName" /> 
  <bean name="/getActivityWorkflowInfo/{activityInstanceUuid}" class="org.inheritsource.service.rest.server.GetActivityWorkflowInfo" scope="singleton" autowire="byName" /> 
  <bean name="/inboxByUserId/{userid}" class="org.inheritsource.service.rest.server.InboxByUserId" scope="singleton" autowire="byName" />
  <bean name="/setActivityPriority/{activityInstanceUuid}/{priority}" class="org.inheritsource.service.rest.server.SetActivityPriority" scope="singleton" autowire="byName" /> 
  <bean name="/deleteTag/{processInstanceUuid}/{value}/{userid}" class="org.inheritsource.service.rest.server.DeleteTagByValue" scope="singleton" autowire="byName" /> 
  <bean name="/getTagsByProcessInstance/{processInstanceUuid}" class="org.inheritsource.service.rest.server.GetTagsByProcessInstance" scope="singleton" autowire="byName" /> 
  <bean name="/searchProcessInstancesByTagValue/{tagValue}/{fromIndex}/{pageSize}/{sortBy}/{sortOrder}/{filter}/{userId}" class="org.inheritsource.service.rest.server.SearchProcessInstancesByTagValue" scope="singleton" autowire="byName" /> 
  <bean name="/searchProcessInstancesStartedByUser/{searchForUserId}/{fromIndex}/{pageSize}/{sortBy}/{sortOrder}/{filter}/{userId}" class="org.inheritsource.service.rest.server.SearchProcessInstancesStartedByUser" scope="singleton" autowire="byName" />
  <bean name="/searchProcessInstancesWithInvolvedUser/{searchForUserId}/{fromIndex}/{pageSize}/{sortBy}/{sortOrder}/{filter}/{userId}" class="org.inheritsource.service.rest.server.SearchProcessInstancesWithInvolvedUser" scope="singleton" autowire="byName" />
  <bean name="/getUsersByRoleAndActivity/{roleName}/{activityInstanceUuid}" class="org.inheritsource.service.rest.server.GetUsersByRoleAndActivity" scope="singleton" autowire="byName" />
  <bean name="/getUserByDn/{dn}" class="org.inheritsource.service.rest.server.GetUserByDn" scope="singleton" autowire="byName" />
  <bean name="/getUserBySerial/{serial}/{certificateSubject}" class="org.inheritsource.service.rest.server.GetUserBySerial" scope="singleton" autowire="byName" />
  <bean name="/emailToInitiator/{processInstanceUuid}/{activityInstanceUuid}/{mailSubject}/{mailBody}" class="org.inheritsource.service.rest.server.EmailToInitiator" scope="singleton" autowire="byName" />
  <bean name="/emailTo/{mailTo}/{mailFrom}/{mailSubject}/{mailBody}" class="org.inheritsource.service.rest.server.EmailTo" scope="singleton" autowire="byName" />
  <bean name="/getMyProfile/{userid}" class="org.inheritsource.service.rest.server.GetMyProfileByUserId" scope="singleton" autowire="byName" />
</beans>