.view-url {
	display: none;
}

.toggle-view {
	list-style: none;
	font-family: arial;
	font-size: 11px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.toggle-view li {
	margin: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
	cursor: pointer;
}

.toggle-view h4 {
	margin: 0;
}

.toggle-view span.exp {
	position: absolute;
	right: 5px;
	top: 0;
	color: #ccc;
	font-size: 13px;
}

.toggle-view .panel {
	margin: 5px 0;
	display: none;
}

.public-xform {
  margin: 3px;
}

.komin-xform {
  margin: 1px;
}

.fr-grid {
   border: 0;
   width:100%;
}

.fr-grid tbody tr {
 background-color:white;
}

.fr-grid-content .xforms-label {
  width:150px;
  display: inline-block;
}

.fr-buttons {
  text-align: right;
}

.fr-section-title {
  background-color: rgb(0, 105, 60);
  padding: 5px;
  border-radius: 8px;
  box-shadow:2px 2px 3px grey;
  margin-bottom: 10px;
}

.komin-xform .fr-section-title {
  background-color: rgb(102, 102, 102);
}

.fr-section-title a {
  color: white;
}
