@import './bower_components/malmo_shared_assets/stylesheets/malmo_external';


.breadcrumbs {
@include clearfix();
list-style: none;
margin: .5em 0 1.5em;
padding: 0;
ol, ul {
margin: 0;
padding: 0;
list-style: none;
}

li {
font-family: $sans-serif;
font-size: emize(14);
margin: 0 .4em .4em 0;
padding: 0 1.2em 0 0;
display: inline-block;
background-position: right 50%;
a {
color: $body-color;
}
&:last-child {
background-image: none;
}
}
}

article, nav.content, aside, column  {
  @include columns(12);
  margin-right: 0%;
}

.motrice-grid {
 
}

@media (min-width: 40em) {
  article {
    @include columns(6);
  }
  nav.content {
    @include columns(6, true);
  }
  aside {
    @include columns(12);
  }

}
@media (min-width: 50em) {
  column  {
    @include columns(6);
  } 
  lastcolumn  {
    @include columns(6, true);
  } 
  full-width-column  {
    @include columns(12, true);
  } 
  article  {
    @include columns(6);
  }
  nav.content {
    @include columns(3);
  }
  aside {
    @include columns(3, true);
  }
}

.motrice-initial-hidden {
  display: none;
}

.motrice-ui-icon-comment {
  float: left; margin: 0 4px;
}

.motrice-comment-list {
  list-style-type: none  !important;
}

.toggle-view-list span.ui-icon {
  float: left; margin: 0 4px;
}

.actlist li {
  display: inline;
}

.motrice-comment-list li h4 {
 background-color: WhiteSmoke;
}