@import './bower_components/malmo_shared_assets/stylesheets/malmo_external';

article, nav.content, aside {
/*  padding-bottom:150px; this needs to be bigger than footer height*/
  @include columns(12);
}

.motrice-grid {
 *zoom:1;
 margin:1em auto;
 max-width:55em;
 padding:0 1em}

.motrice-grid:before,.motrice-grid:after {
   display:table;
   content:'';
   line-height:0
}

.motrice-grid:after {
   clear:both
}

@media (min-width: 40em) {
  article {
    @include columns(6);
  }
  nav.content {
    @include columns(6, true);
  }
  aside {
    @include columns(12);
  } 
}
@media (min-width: 50em) {
  article {
    @include columns(9);
  }
  nav.content {
    @include columns(3, true);
  }
  aside {
    @include columns(3, true);
  }
}
