article, nav.content, aside {
  /*  padding-bottom:150px; this needs to be bigger than footer height*/
  width: 100%;
  margin-right: 2%;
  margin-right: 0; 
  float: none;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.motrice-grid {
  *zoom: 1;
  margin: 1em auto;
  max-width: 55em;
  padding: 0 1em; }

.motrice-grid:before, .motrice-grid:after {
  display: table;
  content: '';
  line-height: 0; }

.motrice-grid:after {
  clear: both; }

@media (min-width: 40em) {
  article {
    width: 49%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  nav.content {
    width: 49%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  aside {
    width: 100%;
    margin-right: 2%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
@media (min-width: 50em) {
  article {
    width: 74.5%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  nav.content {
    width: 23.5%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  aside {
    width: 23.5%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
