.breadcrumbs {
  *zoom: 1;
  list-style: none;
  margin: .5em 0 1.5em;
  padding: 0; }
  .breadcrumbs:before, .breadcrumbs:after {
    display: table;
    content: '';
    line-height: 0; }
  .breadcrumbs:after {
    clear: both; }
  .breadcrumbs ol, .breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .breadcrumbs li {
    font-family: "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    margin: 0 .4em .4em 0;
    padding: 0 1.2em 0 0;
    display: inline-block;
    background-position: right 50%; }
    .breadcrumbs li a {
      color: black; }
    .breadcrumbs li:last-child {
      background-image: none; }

article, nav.content, aside {
  width: 100%;
  margin-right: 2%;
  margin-right: 0;
  float: none;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em; }

.motrice-grid {
  padding: .5em; }

@media (min-width: 40em) {
  article {
    width: 49%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  nav.content {
    width: 49%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  aside {
    width: 100%;
    margin-right: 2%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
@media (min-width: 50em) {
  article {
    width: 49%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  nav.content {
    width: 23.5%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  aside {
    width: 23.5%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
