body { 
  font-family: Verdana,Helvetica,sans-serif;
}

#content {
  float: left;
  width: 60%;
  position: relative;
}

#content .overview-item {
  position: relative;
}

#leftmenu, #right {
  float:left;
  width:20%;
}

ul#paging-nav {
  margin-left:11.5em;
}

ul#paging-nav li {
  display:inline;
}

ul#paging-nav li.active {
  font-weight:bold;
}

ul.sitenav {
  list-style: none;
}

div.lightgrey {
 background-color:#D3D3D3;
}

div.grey {
 background-color:#C0C0C0;
}

ul.hst-container {
  padding:0;
  margin:0;
}

ul.hst-container li {
  list-style-type:none;
}

h1.subsite {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 0 10px;
}

@media print {
/* print specific styling here*/
}
#topmenu-items {
    margin: 0;
/*
      background-color: cyan;
      border: 1px solid blue;
*/
/*    width: 700px;*/
    padding: 3px 0px 3px 0px;

}

#topmenu-items li {
    float: left;
    list-style: none;
/*
      border: 1px solid green;
      width: 100px;
*/
    padding: 0px 0px 0px 20px;
    /* font-weight: bold; */
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

#topmenu-items li:first-child {
    padding-left:40px;
                    }
#topmenu-items a {
    color: black;
    text-decoration: none;
}

#topmenu-items a:hover {
    color: #fc9200;
    text-decoration: none;
}

#topmenu-items li.selected {
    color: #fc9200;
    font-weight: bold;
    /* background: url(/site/images/top_menu_selected_item.png) no-repeat center 18px; */
}

